@{
    ViewData["Title"] = "Delete";

}

@model MovieResponse

<h2> Are you sure you would like to delete @Model.MovieTitle?</h2>

<form method="post" asp-controller="Home" asp-action="Delete">
    <button type="submit">Delete</button>
    <a asp-controller="Home" asp-action="List" class=" btn btn-outline-success">Cancel</a>

<input type="hidden" asp-for="MovieID"/>
</form>
