@{
    ViewData["Title"] = "My Podcasts";
}
<h1>Baconsale</h1>

<div>
    <p>Baconsale is a wonderful movie review podcast by THE Joel Hilton.
    Joel is the devilishly handsome younger brother to the man, the myth, the legend, Spencer Hilton.</p>

    <img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.18169-9/17103386_10212334650508563_3594365343449149107_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=174925&_nc_ohc=Fs4RS-PmSk0AX_xdY_H&_nc_ht=scontent-lax3-1.xx&oh=00_AT_BcakAlT8qXxPVfW3Slpe-ENFiKfAQfeEaSqQpnHd3mg&oe=62194405" width="400"/>
    
    <h5>To listen to the number 1 podcast in the world for movie reviews checkout <a href="https://baconsale.com/">Baconsale</a>.</h5>

</div>
